#Main
{
}

#Main > * {
}

.MainInput
{
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.MainTickers
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.67em;
}

.Ticker
{
  padding: 1em;
  display: grid;
  grid-template:
    ' r1c1 r1c2 r1c3 ' 1fr
    ' r2c1 r2c1 r2c3 ' auto
    / 6fr 1fr 1fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.75em;
  padding-right: 2em;
  background: #eee;
  align-self: baseline;
}

.Ticker > *
{
  align-self: center;
}

.Ticker .TickerCompanySymbol
{
  grid-area: r1c1;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

.Ticker .TickerCompanyName
{
  grid-area: r2c1;
}

.Ticker .TickerPrice
{
  grid-area: r1c3;
  text-align: right;
  font-size: 1.5em;
}
.Ticker .TickerPrice::before
{
  content: '$';
}

.Ticker .TickerOpenPrice
{
  grid-area: r2c3;
  text-align: right;
  font-weight: lighter;
  font-size: 1.5em;
}
.Ticker .TickerOpenPrice::before
{
  content: '$';
}

.Ticker .TickerChangePercent
{
  grid-area: r1c2;
  text-align: right;
  font-size: 1.5em;
}

.Ticker .TickerChangePercent:after
{
  content: '%'
}

.Ticker .TickerChangePercentNegative
{
  color: #c12d00;
}

.Ticker .TickerChangePercentPositive
{
  color: #008f12;
}

.Ticker .TickerClose
{
  position: absolute;
  right: 1em;
  top: -0.5em;
  height: 0;
  width: 0;
}

.Ticker .TickerClose:before
{
  content: "×";
  font-size: 1.5em;
  cursor: pointer;
}

.Ticker .TickerWaiting
{
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  right: 0.25em;
  bottom: 0.25em;
  border-color: #aaa;
  border-left-color: #333;
}

@media (max-width: 1200px)
{
  .Ticker
  {
    font-size: 0.7em;
    width: 19.5em;
  }
}

@media (max-width: 640px)
{
  .MainTickers
  {
    flex-direction: column;
    align-items: center;
    flex-wrap: unset;
    padding: 0.25em 2em;
  }

  .Ticker
  {
    width: 100%;
  }
}
